doctype html

html
    head
        meta(charset='utf-8')
        title Kenziegram
    body
        h1 Welcome to Kenziegram!
        form(action="/upload" method="POST" enctype="multipart/form-data")
            label(name="file") Upload Your File Here:
            input(type="file" name="myFile")
            input(type="submit" value="Submit")
        br
        
        each image in imageArray 
            img(src="uploads/" + image)
            